*.iml
.idea/
.launch
dependency-reduced-pom.xml
.project
.classpath
.DS_Store
build/
.gradle
.settings
out/
bin/
xtend-gen
xtext-gen
*.asv
output/
api_resources/

distribution/moonlight/script/*
distribution/moonlight/jar/*