*.iml
.idea/
.launch
dependency-reduced-pom.xml
.project
.classpath
.DS_Store
build/
.gradle
.settings
out/
bin/
xtend-gen
xtext-gen
*.asv
output/
api_resources/

distribution/**/**
distribution_files/matlab/moonlight/jar
distribution_files/matlab/moonlight/script
distribution_files/python/.ipynb_checkpoints/
distribution_files/python/jar/
distribution_files/java/build
distribution_files/java/lib/moonlight.jar
distribution_files/console/
!distribution_files/matlab/moonlight/script/.placeHolder