.root {
    -fx-base: #3f474f;
    -fx-accent: #e7eff7 ;
    -fx-default-button: #7f878f ;
    -fx-focus-color: #efefef;
    -fx-faint-focus-color: #efefef22;
    -fx-focused-text-base-color : ladder(
            -fx-selection-bar,
            -fx-light-text-color 45%,
            -fx-dark-text-color 46%,
            -fx-dark-text-color 59%,
            -fx-mid-text-color 60%
    );
    -fx-focused-mark-color : -fx-focused-text-base-color ;
}

.borderpane {
    -fx-background-color: #3f474f;
}

.dialog {
    -fx-background-color: #292e34;
}
.dialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.dialog:header *.header-panel{
    -fx-background-color: #444444;
}

.dialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #292929;
}

.leftSide {
    -fx-background-color: #505056;
}

.buttonHome {
    -fx-background-color: #505056;
    -fx-background-radius: 0;
}

.rightSide {
    -fx-background-color: #5b5b5b;
}

.searchArea {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.searchArea .content {
    -fx-text-fill: white;
}

.separator {
    -fx-background-color: grey;
}

