node {
    size: 20px;
    stroke-mode: none;
    fill-color: aquamarine, #254;
    fill-mode: gradient-diagonal1;
    text-alignment: center;
    text-color: black;
    text-size: 10;
}
node:clicked {
    stroke-mode: plain;
    stroke-color: red;
    fill-color: yellow, orange;
    fill-mode: gradient-diagonal1;
}
edge {
    text-alignment: center;
    text-background-mode: plain;
    text-background-color: white;
    text-size: 10;
    /*text-color: white;*/
    /*fill-color: white;*/
}

edge.multiple {
    text-offset: 10px, 10px;
}

node.filtered{
    fill-color: #00d9ff;
    stroke-mode: plain;
    stroke-color: #0004ff;
}


