.dialog {
    -fx-background-color: #cccccc;
}

.dialog > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.dialog:header *.header-panel {
    -fx-background-color: #b9b9b9;
}

.dialog:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #cbcbcb;
}

.home {
    -fx-fill: black;
}

.list-cell:filled:hover {
    -fx-background-color: rgba(0, 147, 255, 0.49);
    -fx-text-fill: white;
}

.leftSide {
    -fx-background-color: lightgrey;
}

.buttonHome {
    -fx-background-color: lightgrey;
    -fx-background-radius: 0;
}

.rightSide {
    -fx-background-color: white;
}

.searchArea {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.searchArea .content {
    -fx-text-fill: gray;
}

.separator {
    -fx-background-color: lightgrey;
}

