.dialog {
    -fx-background-color: #cccccc;
}
.dialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.dialog:header *.header-panel{
    -fx-background-color: #b9b9b9;
}
.dialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #cbcbcb;
}

.leftSide {
    -fx-background-color: lightgrey;
}

.buttonHome {
    -fx-background-color: lightgrey;
    -fx-background-radius: 0;
}

.buttonHome:hover {
    -fx-background-color: #4e75a8;
}

.rightSide {
    -fx-background-color: white;
}

.searchArea {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.searchArea .content {
    -fx-text-fill: gray;
}

